<!DOCTYPE html>
<html lang="en">
<md-dialog aria-label="{{label}}" ng-cloak>
    <form novalidate ng-submit="submit(user)" name="loginForm" class="css-form" style ="background: url(src/background-6.jpg) no-repeat center center fixed" >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon class="ion-close-round" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        
        <md-dialog-content style = "float:left; " >
            <div class="md-dialog-content">
                
                <!--span us-spinner="{radius:30, width:8, length: 16}"ng-show = showSpinner></span-->
                <md-input-container flex>
                    <label>Email</label>
                    <input type="email" name="username" ng-model="user.email"
                           stytle="width:300px;"
                           required/>

                    <ng-messages for="loginForm.username.$error" >
                        <div ng-message="required" class="error">Devi inserire un indirizzo mail valido</div>
                    </ng-messages>
                    
                </md-input-container>
                <div>
                    <md-input-container flex>
                        <label>Password</label>
                        <input type="password" name="password" ng-model="user.password" required/>

                        <div ng-messages for="loginForm.password.$error" ng-if="loginForm.password.$dirty">
                            <ng-message when="required" class="error">This is required</ng-message>
                        </div>


                        <div ng-messages for="loginForm.password.$error" ng-if="signUpForm.password.$dirty">
                            <div ng-message when="required" class="error">devi inserire una password</div>
                        </div>
                        <md-checkbox ng-model="user.remember" aria-label="Ricorda per 30 giorni">
                        Ricorda per 30 giorni:  {{ daRicordare(user.remember) }}
                    </md-checkbox>
                    <div layout="row" layout-sm="column" layout-align="space-around" ng-show = showSpinner>
                         <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    </md-input-container>

                </div>
                <input type="submit" id="submit" value="{{submitButton}}" ng-disabled="loginForm.$invalid"/>
            </div>
        </md-dialog-content>


    </form>
    <style type="text/css">

        html {

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }

        form.ng-submitted .ng-invalid {
        border-color: red;
        border-width: 2px;
        }

        .css-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
        }

        .css-form input.ng-valid.ng-touched {
        background-color: #78FA89;
        }
    </style>
</md-dialog>
</html>