<div class="jumbotron text-center">
    <h1>{{title}}</h1>

    <p>{{ tagline }}</p>

</div>
<div>
    <span us-spinner="{radius:30, width:8, length: 16}"ng-show = showSpinner></span>
<form novalidate ng-submit="submit(user)" name="userForm" class="css-form" style="width:300px;float:left">



    <md-input-container flex style="float:top">
        <label>Nome</label>
        <input type="text" name="name" ng-model="user.nome" />
    </md-input-container>
    <md-input-container flex style="float:top">
        <label>Cognome</label>
        <input type="text" name="cognome" ng-model="user.cognome"/>
    </md-input-container>
    <md-input-container flex style="float:top">
        <label>Email</label>
        <input style="width:300px" type="email" name="email" ng-model="user.email"
               ng-model-options="{ debounce: 100 }"
               required
               disabled/><!-- cambiare la mail potrebbe invalidare il token, meglio registrare un nuovo utente-->
    </md-input-container>
        <div>
            <label>Data di nascita</label>
                <md-datepicker ng-model="user.dob" md-placeholder="Quando sei nato">
                    <label>Data Di nascita</label>
                </md-datepicker>
        </div>
    <md-input-container>
        <md-checkbox ng-model="user.enabled" aria-label="abilitato" ng-disabled="!gotPower(user,'admin')">
            Abilitato:  {{SiNo(user.enabled)  }}
        </md-checkbox>
    </md-input-container>
    <md-input-container flex style="float:top">
        <label>scuola di appartenenza</label>
        <md-select ng-model="user.school">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="school in schools" ng-value="school._id" >
                {{school.sede+' '+school.denominazione}}
            </md-option>
        </md-select>
    </md-input-container>

    <input type="submit" id="submit" value="Modifica" />

</form>

    <div style="float:right">
        <div style="float:left"ng-show="gotPower(user,'admin')">
            <table  class="table  table-striped" >
                <thead>
                <tr>
                    <td>
                        Autorizzazioni disponibili
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="role in roles">
                    <td ng-show="!gotPower(user,role.role)" >{{role.role}}<button class="ion-plus" ng-click="addAuthorization(role.role)"></button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="float:left">
            <table  class="table  table-striped" style="float:right">
                <thead>
                <tr>
                    <td>
                        Autorizzazioni concesse all'utente
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="role in user.roles">
                    <td ng-show="showPower(role.role,user)"><button class="ion-minus" ng-click="removeAuthorization(role)" ng-show="gotPower(user,'superadmin')"></button>{{role}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div Style="float:right">



    </div>
</div>
<div style="float:bottom;width:900px;">
    Informazioni di contatto
<div style="float:right" name="indirizzi">
    <div style="float:left">
        <table  class="table  table-striped" style="float:right">
            <thead>
            <i style="align:center;"> Indirizzi</i>
            <tr>
                <td>
                    Via
                </td>

                <td>
                    Città
                </td>

                <td>
                    cap
                </td>

                <td>
                    note
                </td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="address in user.address" >
                <td>{{address.street}}</td>
                <td>{{address.city}}</td>
                <td>{{address.cap}}</td>
                <td>{{address.note}}</td>
                <td class="ion-edit" ng-click="updateAddress($event,$index)">
                <td class="ion-trash-a" ng-click="removeAddress($index)"></td>

            </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div style="float:left" name="contatti">
        <table  class="table  table-striped" style="float:right">
            <thead>
            <i style="align:center;"> Contatti</i>
            <tr>
                <td>
                    tipo di contatto
                </td>

                <td>
                    contatto
                </td>
                <td>
                    note
                </td>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="contact in user.contacts" >
                <td>{{contact.type}}</td>
                <td>{{contact.contact}}</td>
                <td>{{contact.note}}</td>
                <td class="ion-edit" ng-click="updateContact($event,$index)">
                <td class="ion-trash-a" ng-click="removeContact($index)"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<nav mfb-menu position="br" effect="fountain"  active-icon="ion-edit"
     resting-icon="ion-plus-round" toggling-method="click"
     class="app-menu"
     menu-state="menuState" ng-class="{'fadeOut' : menuState === 'closed'}">
    <button style="mfb-component__child-icon=left:0px" mfb-button label="spedisci una mail " icon="ion-android-send" ng-click="sendMail($event)"></button>
    <button style="mfb-component__child-icon=left:0px" mfb-button label="aggiungi indirizzo " icon="ion-android-locate" ng-click="addAddress($event)"></button>
    <button mfb-button label="aggiungi informazione di contatto" icon="ion-iphone" ng-click="addContact($event)"></button>
</nav>
</md-container>

</div>
    </div>