<!DOCTYPE html>
<html lang="en">
<md-dialog aria-label="{{label}}"  ng-cloak>

    <form novalidate ng-submit="submit(user)" name="userForm" class="css-form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon class="ion-close-round" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style = "float:left" >
            <span us-spinner="{radius:30, width:8, length: 16}"ng-show = showSpinner></span>
            <div class="md-dialog-content">
                <md-input-container flex>
                    <label>Nome</label>
                    <input type="text" name="name" ng-model="user.nome" />
                </md-input-container>
                <md-input-container flex>
                    <label>Cognome</label>
                    <input type="text" name="cognome" ng-model="user.cognome"/>
                </md-input-container>
                <md-input-container flex>
                    <label>Email</label>
                    <input type="email" name="email" ng-model="user.email"
                           ng-model-options="{ debounce: 100 }"
                           required
                           unique-mail/>

                    <ng-messages for="userForm.email.$error" >
                        <div ng-message="unique" class="error">Email già in uso</div>
                        <div ng-message="required" class="error">Devi inserire un indirizzo mail</div>
                    </ng-messages>
                </md-input-container>
                <div>
                    <md-input-container flex>
                        <label>Password</label>
                        <input type="password" name="password" ng-model="user.password" required/>

                        <div ng-messages for="userForm.password.$error" ng-if="userForm.password.$dirty">
                            <ng-message when="required" class="error">This is required</ng-message>
                        </div>


                        <div ng-messages for="userForm.password.$error" ng-if="signUpForm.password.$dirty">
                            <div ng-message when="required" class="error">devi inserire una password</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Conferma Password</label>
                        <input type="password" name ="confirm_password" ng-model="user.confirm_password" required
                        compare-to = "user.password"
                        />
                        <div ng-messages="userForm.confirm_password.$error" >
                            <div  ng-message="required" class="error">devi inserire una password di conferma!!!</div>
                            <div ng-message="compareTo" class="error">le due password non sono uguali!!!</div>
                        </div>
                    </md-input-container>

                    </div>
                <input type="submit" id="submit" value="Registra" ng-disabled="userForm.$invalid"/>
            </div>
            </md-dialog-content>


    </form>
    <style type="text/css">

        html {
        background: url(src/background-6.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }

        form.ng-submitted .ng-invalid {
        border-color: red;
        border-width: 2px;
        }

        .css-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
        }

        .css-form input.ng-valid.ng-touched {
        background-color: #78FA89;
        }
    </style>
</md-dialog>
</html>