<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
</head>
<body>
</body>
</html>

<div class="jumbotron text-center">
    <h1>Elenco Utenti</h1>

    <p>{{ tagline }}</p>

</div>
<md-switch ng-model="search" aria-label="Switch 2" ng-true-value=true ng-false-value=false class="md-warn" >
    mostra utenti: {{ search |AbilitatiSiNo}}
</md-switch>
<div style="
;width:184px">
<label>filtri</label>
    <div style="float:top"><label>Nome</label>
        <input type="text" name="nome" ng-model="filter.nome" style="float:top"/>
    </div>
<div style="float:top">
    <label>Cognome</label>
    <input type="text" name="cognome" ng-model="filter.cognome" style="float:top"/>
</div>
</div>
<md-content>
    <table  class="table  table-striped" >
        <thead>
        <tr>
            <td>
                Utenti
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users|filter:{enabled:search,nome:filter.nome,cognome:filter.cognome}">
            <td>
                <div>
                    <span style="float:top">{{user.nome}}</span>
                    <span style="float:top">{{user.cognome}}</span>
                    <span style="float:top">{{user.email}}</span>
                    <button class="ion-edit" ng-click="userDetail($event,user)"></button>
                    <button ng-show="! user.enabled" class="ion-checkmark" ng-click="enableUser(user)"></button>
                    <button class="ion-android-send" ng-click="sendMessage(user)"></button>
                    <button class="ion-trash-b" ng-click="trashUser(user)"/>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</md-content>