<div class="jumbotron text-center">
    <h1>{{title}}</h1>
</div>




<md-content >
    <body nv-file-drop="" Uploader="Uploader">
    <div ng-show="isLogged">
        <md-input-container>
            <form name="up.upload_form" id ="myForm" enctype="multipart/form-data" ng-submit ="uploadFile(file-registrazione)">

            <h3>Upload queue</h3>
            <p>Queue length: {{ files.length }}</p>
            <input type="file"
                   ngf-select
                   ng-model="up.file"
                   name="registrazione"  aria-label="seleziona un file da caricare" id="registrazione" file-model="registrazione" />
                <span ng-show="up.uploaded"class="glyphicons glyphicons-tick"></span>
            <ul>
                <li ng-repeat="file in files">{{file.name}}</li>
            </ul>
                <button type="submit" class="btn btn-success btn-xs"  ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-cloud-upload"></span> Upload
                </button>
            <!--table>
                <tr ng-repeat="file in $flow.files">
                    <td>{{$index+1}}</td>
                    <td>{{file.name}}</td>
                    <td>{{file.msg}}</td>
                </tr>
            </table-->
            </form>
            <button class="btn btn-calm btn-xs " ng-click="batchImport()">
                <span class="ion-soup-can"></span> Carica achivio
            </button>

        </md-input-container>

        <ul>
            <li ng-repeat="item in Uploader.queue">
                Name: <span ng-bind="item.file.name"></span><br/>
                Name: <span ng-bind="item.file.size"></span><br/>

            </li>
        </ul>

    </div>
    <table  class="table  table-striped" >
        <span><button ng-click="previousPage(actualPage)" class="ion-arrow-left-b"></button></span>
        <span>pagina: {{actualPage}} di {{pages}}</span>
        <span> files da {{limits.start}} a {{limits.end}}</span>
        <span><button  ng-click="nextPage(actualPage)" class="ion-arrow-right-b"></button></span>
        <thead>
        <tr>


            <td>
                Data
            </td>
            <td>
                Fase
            </td>
            <td>scuola</td>
            <td>Titolo</td>
            <td>relatore</td>
            <td>Selezionato</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in filesList" >
            <td><span>{{file.data| date:dd/MM/yyyy}}</span></td>
            <td><span>{{file.fase}}</span></td>
            <td><span>{{file.scuola}}</span></td>
            <td><span>{{file.titolo}}</span></td>
            <td><span>{{file.relatore}}</span></td>
            <td>  <md-switch ng-model="file.selected" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn"></md-switch>
            </td>
        </tr>
            <td>
            </td>
        </tbody>
    </table>
    <div style="float:right">
        <span><button ng-click="previousPage(actualPage)" class="ion-arrow-left-b"></button></span>
        <span>pagina: {{actualPage}} di {{pages}}</span>
        <span> files da {{limits.start}} a {{limits.end}}</span>
        <span><button  ng-click="nextPage(actualPage)" class="ion-arrow-right-b"></button></span>
    </div>
    </body>
</md-content>