<div class="jumbotron text-center">
    <h1>{{title}}</h1>
</div>




<md-content flow-init>
<div ng-show="isLogged">
    <md-input-container>

         <input type="file" flow-btn />
            <!--table>
                <tr ng-repeat="file in $flow.files">
                    <td>{{$index+1}}</td>
                    <td>{{file.name}}</td>
                    <td>{{file.msg}}</td>
                </tr>
            </table-->

    </md-input-container>

    <span flow-btn class="ion-ios-upload"> Upload    </span>
</div>
</md-content>