<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    </div>

<md-input-container>
    <label>email scuola</label>
    <input type="text" ng-model="accountEmail.actualValue" ng-change="edited($ev)"
           ng-model-options="{updateOn: 'default blur', debounce: {default: 900, blur: 0} }"
    >
</md-input-container>
<md-input-container>
    <label>password account mail</label>
    <input type="password" ng-model="emailPassword.actualValue"
           ng-model-options="{updateOn: 'default blur', debounce: {default: 1900, blur: 0} }"
           ng-change="passwordEdited($ev)"
    >
</md-input-container>

<md-content>
    <label>Scuole</label>
    <table  class="table  table-striped" >
        <thead>
        <tr>
            <td>
                sede
            </td>
            <td>
                denominazione
            </td>
            <td>indirizzo</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="school in schools" >
            <td>
                <span style="float:top">{{school.sede}}</span>
                <div>






                </div>
            </td>
            <td>
                <span style="float:top">{{school.denominazione}}</span>
            </td>
            <td>
                <span style="float:top">{{school.address[0].street+' '+ school.address[0].city+' '+ school.address[0].cap}}</span>
            </td>
            <td>
                <button class="ion-edit" ng-click="clickRow($event,school)"/>
            <td>
            <td>
                <button class="ion-trash-b" ng-click="trashSchool(school)"/>
            <td>
            </td>
        </tr>
        </tbody>
        <nav mfb-menu position="br" effect="fountain"  active-icon="ion-edit" label="inserisci una nuova scuola"
             ng-click="addSchool($event)"
             resting-icon="ion-plus-round" toggling-method="click"
             class="app-menu"
             menu-state="menuState" ng-class="{'fadeOut' : menuState === 'closed'}">
        </nav>
    </table>
</md-content>