<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    </div>

<md-content>
    <table  class="table  table-striped" >
        <thead>
        <tr>
            <td>
                sede
            </td>
            <td>
                denominazione
            </td>
            <td>indirizzo</td>
            <td>responsabile</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="school in shools">
            <td>
                <div>
                    <span style="float:top">{{school.sede}}</span>
                    <span style="float:top">{{school.denominazione}}</span>
                    <span style="float:top">{{school.indirizzo.street+' '+ school.indirizzo.city+' '+}}</span>
                    <span style="float:top">{{school.responsabile}}</span>

                    <button ng-show="! user.enabled" class="ion-checkmark" ng-click="enableUser(user)"></button>
                    <button class="ion-trash-b" ng-click="trashUser(user)"/>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</md-content>