<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    </div>

<md-content>
    <table  class="table  table-striped" >
        <thead>
        <tr>
            <td>
                sede
            </td>
            <td>
                denominazione
            </td>
            <td>indirizzo</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="school in schools" ng-click="clickRow($event,school)">
            <td>
                <span style="float:top">{{school.sede}}</span>
                <div>






                </div>
            </td>
            <td>
                <span style="float:top">{{school.denominazione}}</span>
            </td>
            <td>
                <span style="float:top">{{school.indirizzo.street+' '+ school.indirizzo.city+' '}}</span>
            </td>
            <td>
                <button class="ion-trash-b" ng-click="trashSchool(school)"/>
            <td>
            </td>
        </tr>
        </tbody>
        <nav mfb-menu position="br" effect="fountain"  active-icon="ion-edit" label="inserisci una nuova scuola"
             ng-click="addSchool($event)"
             resting-icon="ion-plus-round" toggling-method="click"
             class="app-menu"
             menu-state="menuState" ng-class="{'fadeOut' : menuState === 'closed'}">
        </nav>
    </table>
</md-content>